.overflow-wrap-break {
    overflow-wrap: break-word;
  }

  .padding-class{
    padding: 5px;
  }
 

  .logged-in{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f2b147;
       
    
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .img-resume{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .comment-container {
    
    color: white;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  .delete-button {
    position: absolute; 
    top: 25%; 
    right: 10px; 
  }

 
  
  
  .delete-button button {
    background-color: #f2b147;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button button:hover {
    background-color: #c0392b;
  }

  .image-bar-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .image-bar-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .image-bar-img:hover {
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out; 
  }
  
  .image-bar-img-small {
    max-width: 50%; 
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
 
  .image-bar-img:first-child {
    width: 200px;
    height: 200px;
  }

  .image-bar-img-small:last-child:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }
  .app{
    background-color: #1a2a32;
  }

  .comment-bar1{
    border-radius: 10px;
    background-color:#2e4756 ;
    color: #d3d3d3;
       
    
  }
  .comment-bar1 button{
    background-color: #f2b147;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 20px;
       
    
  }

  .nav2 button{
    background-color: #1a2a32;
    
    margin: 10px;
    color: #d3d3d3;
    border: 2px #1a2a32;
  }

   .button{    
    border: none;
    margin-left: 20px;       
    border-radius: 10px;
    background-color: #2e4756;
  }

  footer {
    color: white;
    margin-top: 50px;
    text-align: center;
  }

  .about{
    color: white  ;
  }
  
  

  

  
  

 

  


  

 